@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,700&family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-size: 62, 5%;
    scroll-behavior: smooth;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    background-image: url(../assets/fondo.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.calcuTamaño{
    width: 3rem;
    margin-left: 0.5rem;
}

nav{
    background: linear-gradient(90deg, rgba(160,52,124,0.9) 55%, rgba(107, 36, 83, 0.9)100%);
}

.nav-item{
    font-family: Roboto, sans-serif;
    font-weight: 700;
    color:  rgb(27, 34, 31);
}

.loader {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    background:  rgb(160, 96, 139, 0.6);
    box-sizing: border-box;
    animation: shadowExpandX 2s linear infinite alternate;
    margin-bottom: 105rem;
}
  
@keyframes shadowExpandX {
    0% {
      box-shadow: 0 0, 0 0;
      color:  rgba(94, 240, 162, 0.3);
    }
    100% {
      box-shadow: -24px 0, 24px 0;
      color: rgba(40, 146, 90, 0.8);
    }
}

.error{
    background-image: url(../assets/errorGlitch.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 78vw;
    height: 72vh;
    margin-bottom: 110rem;
}

.error h1{
    font-size: 4rem;
    font-family: Nunito, sans-serif;
    color: rgb(30, 43, 37)
}

.error p{
    font-size: 1.4rem;
    font-family: Roboto, sans-serif;
    color:rgb(40, 146, 90); 
}

.ocultar{
    display: none;
    visibility: hidden;
}
.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 115rem;
    margin-bottom: 3rem;
}

.cardArt{
    width: 30vw; 
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    max-width: 632.8px;
    background-color: rgba(160, 81, 134, 0.93);
    margin: 1.8rem;
    box-shadow: 5px 20px 26px  rgb(105, 94, 102)  /* rgb(34, 49, 42) */;
}

.img{
    width: 30vw;
    height: auto;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 32vw;
    border-bottom-left-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
    
}

.card-body h3{
    font-size: 1.3rem;
    font-family: Nunito, sans-serif;
    color:rgb(199, 240, 218);
    margin-left: 0.6rem;
}

a{
    text-decoration: none;
    color: rgb(122, 206, 161);
    font-family: Roboto, sans-serif;
    font-weight: 300;
    margin-left: 0.6rem;
    font-size: 1.2rem;
}